.iml
*~
*.sw[mnpcod]
*.log
*.tmp
*.lock
!yarn.lock
*.tmp.*
temp*.*
log.txt
*.sublime-project
*.sublime-workspace

.vscode/
.sass-cache/
.versions/
node_modules/
core/src/environment.ts
core/src/local-host.ts
dist/
junit.xml
core/src/api/core
core/src/api/models
core/src/api/services
core/src/api/index.ts

.expo
.DS_Store
Thumbs.db
tsconfig.tsbuildinfo
.env

*.orig
*.iml
*.d.ts

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
